@keyframes appear {
    0% {
        opacity: 0;
        scale: .5;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

.Aboutus-custom {
    width: 100%;
    height: 100%;
    padding: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

.knowmore {
    text-align: center;
}

.Aboutme {
    text-align: center;
}

.knowmore p {
    color: #656565;
}

/* About us  */

.Aboutusimageanddetails {
    width: 100%;
    display: flex;
    padding: 20px;
    margin-top: 30px;
}


.Aboutusimage {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-div-about {
    width: 320px;
    height: 320px;
    border-radius: 5%;
    margin-right: 40px;
}


.Aboutusdetails {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Aboutusdetailsfirst {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.Aboutusdetailsfirstchild {
    width: 225px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.Aboutusdetailssecond {
    width: 100%;
}

.Aboutusdetailsfirstchild p {
    color: #656565;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

.Aboutusdetailsfirstchild h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.aboutusgradicon {
    font-size: 20px;
}

.Aboutusdetailssecond p {
    color: #656565;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.about-us-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 5%;
}

@media screen and (max-width:991px) and (min-width:768px) {
    .Aboutusdetailsfirstchild h1 {
        font-size: 16px;
    }

    .Aboutusdetailsfirstchild p {
        font-size: 14px;
    }

    .Aboutusdetailsfirstchild {
        width: 200px;
    }
}

@media screen and (max-width:767px) {
    .Aboutusimageanddetails {
        flex-wrap: wrap;
        padding: 10px;
    }

    .Aboutusimage {
        width: 100%;
        justify-content: center;
    }

    .image-div-about {
        margin-right: 0px;
    }

    .Aboutusdetails {
        width: 100%;
        margin-top: 20px;
    }

    .Aboutusdetailsfirst {
        font-size: 15px;
    }

    .Aboutusdetailssecond p {
        -webkit-line-clamp: 14;
    }
}

@media screen and (max-width: 575px) {
    .knowmore p {
        font-size: 12px;
    }

    .Aboutme h1 {
        font-size: 15px;
        margin-top: 15px;
    }

    .Aboutusimageanddetails {
        margin-top: 20px;
    }

    .aboutusgradicon {
        font-size: 14px;
    }

    .Aboutusdetailsfirst {
        height: 125px;
    }

    .Aboutusdetailsfirstchild {
        height: 120px;
        width: 160px;
    }

    .Aboutusdetailsfirstchild h1 {
        font-size: 13px;
        margin-top: 10px;
    }

    .Aboutusdetailsfirstchild p {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .Aboutusdetailssecond p {
        font-size: 12px;
        -webkit-line-clamp: 18;
    }

}