.experience-custom {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 40px;
}

.experience-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.experience-intro p {
    color: #656565;
    margin: 0px;
}

.experienceparentdiv {
    width: 100%;
    display: flex;
    padding: 20px;
}

.experiencechildone {
    width: 50%;
    display: flex;
    justify-content: flex-end;

}

.experiencechildtwo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.experiencechildone .experiencechildbox {
    width: 80%;
    margin-right: 40px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
}

.experiencechildtwo .experiencechildbox {
    width: 80%;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
}

.experiencechildbox h1 {
    font-size: 20px;
    color: #656565;
    text-align: center;
}

.experienceboxinnerbox {
    width: 100%;
    display: flex;
    height: 60px;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .experiencechildbox h1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .experiencechildone {
        width: 100%;
    }

    .experiencechildtwo {
        width: 100%;
    }

    .experienceparentdiv {
        flex-wrap: wrap;
    }

    .experiencechildone {
        justify-content: center;
        margin-bottom: 30px;
    }

    .experiencechildtwo {
        justify-content: center;
    }

    .experiencechildtwo .experiencechildbox {
        margin-left: 0px;
    }

    .experiencechildone .experiencechildbox {
        margin-right: 0px;
    }
}

@media screen and (max-width: 575px) {
    .experience-intro p {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .experience-intro h1 {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .experiencechildbox h1 {
        font-size: 15px;
    }

    .experienceparentdiv {
        padding: 0px;
    }

}

@media screen and (max-width: 425px) {
    .experiencechildone .experiencechildbox {
        width: 100%;
    }

    .experiencechildtwo .experiencechildbox {
        width: 100%;
    }
}