.contact-parentdiv{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-childdiv{
    border: 2px solid black;
    width: 40%;
    height: 100px;
    border-radius: 25px;

}